/* Coomon rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #183A4A;
    text-align: center;
}

/* Title */

.title {
    color: white;
    font-weight: 900;
    font-size: 80px;
    margin-bottom: 50px;
}

/* Container */

.container {
    margin: auto;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 50%;

}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #3D88AE;
}

.green {
    background-color: #61D2A4;
}

.yellow {
    background-color: #F9D277;
}

.red {
    background-color: #DE5471;
}